{% extends 'SimpleProfileBundle::layout.html.twig' %}


{% block body -%}
<h1>Osoba::</h1>
</br>
    <form action="{{ path('profil_azuriraj', { 'id': osoba.id }) }}" method="post" {{ form_enctype(update_form) }}>
        {{ form_widget(update_form) }}
        <p>
            <button type="submit">Izmjeni</button>
        </p>
    </form>
	
    <form action="{{ path('profil_brisi', { 'id': osoba.id }) }}" method="post">
        <p>
            <button type="submit">Brisi</button>
        </p>
    </form>
{% endblock %}