{% extends 'SimpleProfileBundle::layout.html.twig' %}


{% block body -%}
<h1>Popis svega!</h1>
<ul>
    <li><a href="{{path("profil_ispis")}}">Ispis</a></li>
    <li><a href="{{path("profil_dodaj")}}">Dodaj</a></li>
</ul>
{% endblock %}